[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
fastapi = "*"
uvicorn = "*"
gunicorn = "*"
dlib = "*"
imutils = "*"

[dev-packages]
jupyterlab = "*"
requests = "*"
parsel = "*"

[requires]
python_version = "3.9"
